MDM_ANDROID_PASSWORD=
MDM_ANDROID_URL=
MDM_ANDROID_USERNAME=
MDM_CHEWLABX_URL=
MDM_CHEWLABX_USERNAME=
MDM_CHEWLABX_PASSWORD=
MDM_ISHALOU_PASSWORD=
MDM_ISHALOU_URL=
MDM_ISHALOU_USERNAME=
MDM_MDMLOCKPHONE_URL=
MDM_MDMLOCKPHONE_APPID=
MDM_MDMLOCKPHONE_APPSECRET=
MDM_SEEKDREAM_USERNAME=
MDM_SEEKDREAM_URL=
MDM_SEEKDREAM_PASSWORD=
MDM_SEEKDREAM_API_KEY=
MDM_SEEKDREAM_ROLE=

REALME_CARRIER_CODE=
REALME_TOKEN=

INFINIX_API_KEY=

XIAOMI_API_KEY=
XIAOMI_TENANT_ID=

VIVO_CLIENT_ID=
VIVO_CLIENT_SECRET=
VIVO_MANUFACTURER=
VIVO_AES_IV=
VIVO_AES_KEY=
VIVO_BASE_URL=